<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <!-- internal css
    external css
    inline css -->
    <style>
        form{
            width:250px;
            height: 00px;
            background-color: cadetblue;
            margin-left: 40%;
        }
        #name{
            text-align: center;
        }
        .name{
            color: blueviolet;
        }
    </style>
</head>
<body>
    <!-- How to use POST method  -->
    <h1>This is my home page</h1>
    <p>Here used POST Method:- Get data client to server</p>
    <form action="" method="POST">
        <!-- {% csrf_token %} -->
        <label class="name" for="name" >Name</label >
        <input id="name" name="name" type="text">
        <input type="submit" value="ok" style="background-color: chocolate;">
    </form>
</body>
</html>