<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <input type="submit" name="btn1" value="1">
        <input type="submit" name="btn2" value="2">
        <input type="submit" name="btn3" value="3">
        <input type="submit" name="btn4" value="4">
        <input type="submit" name="btn5" value="5">
        <input type="submit" name="btn6" value="6">
        <input type="submit" name="btn7" value="7">
        <input type="submit" name="btn8" value="8">
        <input type="submit" name="btn9" value="9">
        <input type="submit" name="btn0" value="0">

    </form>
</body>
</html>