<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Products</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}

        <table>
            <tr>
                <th>Product Name</th>
                <th>Brand Name</th>
                <th>Cost</th>
                <th>Price</th>
                <th>Manufacturing Date</th>
                <th>Expiry Date</th>
            </tr>
            <tr>
                {% for i in products %}
                <td>{{i.productName}}</td>
                <td>{{i.brandName}}</td>
                <td>{{i.cost}}</td>
                <td>{{i.price}}</td>
                <td>{{i.manu_date}}</td>
                <td>{{i.exp_date}}</td>
                {% endfor %}
            </tr>
        </table>
    </form>

</body>
</html>