<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- internal css
    external css
    inline css -->
    <style>
        form{
            width:200px;
            height: 200px;
            background-color: cadetblue;
            margin-left: 40%;
        }
    </style>
</head>
<body>
    <h1>This is my home page</h1>
    <form action="" method="get">
        <label for="name" >Name</label>
        <input id="name" name="name" type="text">
        <input type="submit" value="ok" style="background-color: chocolate;">
    </form>
</body>
</html>